<!-- Cabecalho principal  -->
<%- include('partials/header') %>
    
<!-- Conteudo do index  -->
<main>
    
    <h1>ESTÁ PÁGINA NÃO EXISTE</h1>
    <a href="/home">Clique aqui para ir para home</a>
    <img src="https://media.tenor.com/Z6gmDPeM6dgAAAAM/dance-moves.gif">
    
</main>

<!-- Rodape de todas as páginas  -->
<%- include('partials/footer') %>