<!-- cabeçalho principal --> 
<%- include('partials/headers') %>

<main>
    <!-- isso aqui continua -->
    <h1>SaaaaaaaaaaaI ESSA PÁGINA NÃO EXISTE</h1>
    <a href="/home">Vai pra pagina de home </a>
    <img src="https://lojaintegrada.com.br/hub//wp-content/uploads/2023/05/erro-404-1024x684.webp" alt="404 Not Found">
    <!-- ate aqui  -->

</main>
<!-- rodapé de todas as paginas -->
<%- include('partials/footer') %>