<!-- Cabecalho principal  -->
<%- include('partials/header') %>

<!-- Conteudo do index  -->
<main>
    <h1> PÁGINA DE CADASTRO DE USUÁRIOS </h1>
</main>

<!-- Rodape de todas as páginas  -->
<%- include('partials/footer') %>