<!-- cabeçalho principal -->
<%- include('partials/headers') %>

<!-- conteúdo do index -->
<main>
<h1>estou na pagina de usuarios</h1>
</main>

<!-- rodapé de todas as paginas -->
<%- include('partials/footer') %>